.center {
  border: 5px ;
  text-align: center;
  }
.timeStamp{
  color: aqua;
}
.ticker{
  font-size: 200%;
  color: aqua;
}

body{
  background-color: black;
}

th{
  color: aqua;

}

.gif-wrapper {
  background-image: url("btcbling.gif");
  background-repeat: no-repeat, repeat;
}