<h1> Hello Crypto </h1>
 <%= image_tag "btcImg.png" %>
<div> Time Stamp: <%= raw(@status.to_json)  %></div>
<div> BTC price(USD): <%= raw(@btcprice.to_json)  %></div>
<div> ETH price(USD): <%= raw(@ethprice.to_json)  %></div>